
control_unit/Ubuntu_22.04_with_UpdateTool/.env.txt

control_unit/Ubuntu_22.04_with_UpdateTool/boot.img

control_unit/Ubuntu_22.04_with_UpdateTool/config.ini

control_unit/Ubuntu_22.04_with_UpdateTool/document.pdf

control_unit/Ubuntu_22.04_with_UpdateTool/download.bin

control_unit/Ubuntu_22.04_with_UpdateTool/env.img

control_unit/Ubuntu_22.04_with_UpdateTool/idblock.img

control_unit/Ubuntu_22.04_with_UpdateTool/oem.img

control_unit/Ubuntu_22.04_with_UpdateTool/revision.txt

control_unit/Ubuntu_22.04_with_UpdateTool/rootfs.img

control_unit/Ubuntu_22.04_with_UpdateTool/sd_update.txt

control_unit/Ubuntu_22.04_with_UpdateTool/tftp_update.txt

control_unit/Ubuntu_22.04_with_UpdateTool/uboot.img

control_unit/Ubuntu_22.04_with_UpdateTool/update.img

control_unit/Ubuntu_22.04_with_UpdateTool/userdata.img
